asgiref
astroid
autopep8
certifi
chardet
chart-studio
cycler
Django
idna
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
pandas
plotly
pycodestyle
pylint
pyparsing
python-dateutil
pytz
requests
retrying
six
sqlparse
toml
typed-ast
urllib3
wrapt
